.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__link,
    &__button {
        font-size: 1.125rem;
        font-weight: 500;
    }

    &__link:nth-child(2) {
        border-radius: 10px;
        border: 2px solid orange;
        padding: 0.5rem 1.5rem;
    }

    &__button {
        padding: 0.5rem 1.5rem;
        border-radius: 10px;
        border: 2px solid orange;
        user-select: none;

        transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: orange;
            color: white;
        }

        &:active {
            background-color: darken(orange, 2%);
            border-color: darken(orange, 2%);
        }
    }

    &__link {
        display: flex;
        color: #282828;
        text-decoration: none;

        &:visited,
        &:active {
            color: #282828;
        }
    }

    @media (max-width: 425px) {
        flex-direction: column;

        &__link,
        &__button {
            margin-top: 1rem;
        }
    }
}
